@import "global";
@import "variables";

.body-wrapper {
    padding: 30px 20px;
    max-width: 600px;
    margin: 0 auto;
}
.page-title {
    border-radius: 5px;
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
    .title {
        color: $blue;
    }
}
form {
    button {
        border: none;
        border-radius: 4px;
        align-self: center;
        position: relative;
        height: 40px;
        width: 40px;
    }
    .search-btn {
        background-color: $search;
        top: 8px;
    }
    .reset-btn {
        background-color: $reset;
        top: 4px;
    }
    img {
        height: 24px;
        width: auto;
    }
}
.search {
    height: 40px;
    border: none;
    padding: 0 10px;
    border-radius: 4px;
}

.piano-alimentare {
    .card {
        &.hidden {
            display: none;
        }
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        margin-bottom: 30px;
        .card-title {
            color: black;
            font-weight: bold;
            font-size: 18px;
        }
        .card-body {
            .meal-title {
                cursor: pointer;
                margin: 10px 0;
                background-color: lightgray;
                color: black;
                font-size: 16px;
                padding: 5px;
                &:not(:first-child) {
                    margin-top: 10px;
                }
                .open-close-accordion {
                    font-weight: bold;
                }
            }
            .alimenti {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
            .item-title {
                padding-bottom: 10px;
                border-bottom: 1px solid lightgray;
                h3{
                    font-size: 16px;
                    width: 50%;
                    &:first-child {
                        margin-right: 10px;
                    }
                }
            }
            .food-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 10px;
                row-gap: 10px;
            }
            .item-content {
                border-bottom: 1px solid lightgray;
                margin-top: 5px;
                padding-bottom: 5px;
                &:nth-child(odd) {
                    border-right: 1px solid lightgray;
                    margin-right: -10px;
                    .quantity {
                        margin-right: 5px;
                    }
                }
                &:nth-child(even) {
                    .description {
                        margin-left: 5px;
                    }
                }
                .description {
                    margin-right: 10px;
                }
            }
            .double-row {
                .double-item-content {
                    &:first-child{
                        border-bottom: 1px solid lightgray;
                    }
                    &:not(:first-child) {
                        margin-top: 5px;
                    }
                    
                }
            }
            
        }
    }
}